USE [master]
GO
/****** Object:  Database [Ticket]    Script Date: 24/03/2021 9:47:43 a. m. ******/
CREATE DATABASE [Ticket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ticket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ticket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ticket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ticket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ticket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ticket]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 24/03/2021 9:47:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[id] [varchar](10) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[fecha_actualizacion] [date] NOT NULL,
	[estatus] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
